.bar{
    position: absolute;
width: 1434px;
height: 155px;
left: 355px;
top: 238px;
margin : 20px;
background: #FFFFFF;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.search{
    /* Search */


position: absolute;
width: 50px;
height: 19px;
left: 416px;
top: 400px;
padding-top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #000000;

}